<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Cart</title>
</head>
<body>
<body>
<b>SHOP UPSKILL</b>

<form action="/products" target="_self" style="float: right; margin-left: 60px;">
    <button class="btn btn-dark">Back to products</button>
</form>
<h1>YOUR CART</h1>

<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price $</th>
        <th scope="col">Date</th>
        <td><td>
        <th scope="col"> </th>
        <th scope="col"></th>


    </tr>
    </thead>
    <tbody>
    <tr>

        <#list products as product>
    <tr>

        <th scope="row">${product.id}</th>
        <td>${product.name}</td>
        <td>${product.price}</td>
        <td>${product.creationDate}</td>
        <td>
        <td>
        <td>

        <td>
            <form action="/products/cart/delete/${product.id}" target="_self" style="float: right; margin-left: 60px;">
                <button class="btn btn-dark">&#10060</button>
            </form>
        </td>
        </tr>

    </#list>

    </tbody>
</table>


</body>
</html>


